.related-movies-section {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 10px 0;
}

.related-movie-card {
    flex: 0 0 auto;
    text-align: center;
    width: 150px;
}

.related-movie-poster {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
}

    .related-movie-poster:hover {
        transform: scale(1.05);
    }

.related-movie-name {
    margin-top: 8px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
