@model Cinema

@{
    ViewData["Title"] = "Add a new cinema";
    ViewBag.Hidefooter = true;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a New Cinema</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body> 
    <div class="page-content">
    <div class="container">
        <h2>Add a New Cinema</h2>
            <form>
            <label for="logo"> Cinema Logo</label>
            <input type="text" id="logo" name="logo">

            <label for="name">Cinema Name</label>
            <input type="text" id="name" name="name">

            <label for="description">Description</label>
            <input type="text" id="description" name="description">

            <div class="buttons">
                <button type="button" class="back">Back</button>
                <button type="submit" class="create">Create</button>
            </div>
        </form>
    </div>
    </div>
</body>
</html>

@section Scripts {
    <script>

        $(document).ready(function () {
            var output = document.getElementById('CinemaLogoPreview');
            output.src = $("#Logo").val();
        })

        $("#Logo").on("change", function () {
            var output = document.getElementById('CinemaLogoPreview');
            output.src = $(this).val();
        })
    </script>
}