@using ticketer.ViewModels;


@model LoginVM;

@{
    ViewData["Title"] = "Log in to your account";
    Layout = null;
}
<link rel="stylesheet" href="~/css/login.css" />
<div class="container">
    <div class="login-section">
        <div class="login-box">
            <h2>Welcome back!</h2>


            @if (TempData["Error"] != null)
            {
                <div class="col-md-12 alert alert-danger">
                    <span><b>Sorry!</b> - @TempData["Error"] </span>
                </div>
            }


            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="EmailAdress" class="control-label"></label>
                    <input asp-for="EmailAdress" class="form-control" />
                    <span asp-validation-for="EmailAdress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>


                <div class="buttons">

                    <button asp-controller="Movie" asp-action="Index">Cancel</button>
                    <button type="submit">log in</button>
                </div>
            </form>

        </div>
    </div>
    <div class="poster-section">
    </div>
</div>
