@using ticketer.ViewModels;
@model RegisterVM;

@{
    ViewData["Title"] = "Sign up for a new account";
}
<link rel="stylesheet" href="~/css/register.css" />

<div class="background-overlay"></div>
<div class="dark-layer"></div>

<div class="form-container">
    <h4 class="hover-zoom">Create New Account</h4>

    @if (TempData["Error"] != null)
    {
        <div>
            <span><strong>Sorry!</strong> - @TempData["Error"]</span>
        </div>
    }

    <form asp-action="Register">
        <div asp-validation-summary="ModelOnly" ></div>

        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" class="hover-zoom" />
        <div class="validation-message-container">
        <span asp-validation-for="Name"></span>
        </div>
        <label asp-for="Email"></label>
        <input asp-for="Email" type="email" class="hover-zoom" />
        <div class="validation-message-container">
        <span asp-validation-for="Email"></span>
        </div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="hover-zoom" />
        <div class="validation-message-container">
        <span asp-validation-for="Password"></span>
        </div>

        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" class="hover-zoom" />
        <div class="validation-message-container">
        <span asp-validation-for="ConfirmPassword" ></span>
        </div>

        <div class="form-actions">
            <a asp-controller="Movie" asp-action="Index" class="hover-zoom">Back</a>
            <input type="submit" value="Submit" class="hover-zoom" />
        </div>
    </form>
</div>
@section Scripts {
    <script src="~/js/main.js"></script>
}
