@using ticketer.ViewModels
@model ticketer.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}
<link rel="stylesheet" href="~/css/ResetPassword.css" />
<h2 class="reset-password-title">@ViewData["Title"]</h2>

<form asp-action="ResetPassword" class="reset-password-form" autocomplete="off">
    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email" />

    <div class="form-group">
        <label asp-for="NewPassword" class="reset-label"></label>
        <input asp-for="NewPassword" class="reset-input" autocomplete="new-password" />
        <span asp-validation-for="NewPassword" class="reset-validation"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword" class="reset-label"></label>
        <input asp-for="ConfirmPassword" class="reset-input" autocomplete="new-password" />
        <span asp-validation-for="ConfirmPassword" class="reset-validation"></span>
    </div>

    <button type="submit" class="reset-submit">Reset Password</button>
</form>
