@model Producer

@{
    ViewData["Title"] = "Add a new producer";
    ViewBag.Hidefooter = true;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a New Producer</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <div class="page-content">
        <div class="container">
            <h2>Add a New Producer</h2>

            <form asp-action="Create" method="post">
                <div>
                    <label asp-for="ProfilePictureURL"></label>
                    <input asp-for="ProfilePictureURL" />
                    <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
                </div>

                <div>
                    <label asp-for="FullName"></label>
                    <input asp-for="FullName" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>

                <div>
                    <label asp-for="Bio"></label>
                    <input asp-for="Bio" />
                    <span asp-validation-for="Bio" class="text-danger"></span>
                </div>

                <button type="submit">Create</button>
            </form>

        </div>
    </div>
</body>
</html>


@section Scripts {
    <script>

        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ProfilePictureURL").val();
        })

        $("#ProfilePictureURL").on("change", function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $(this).val();
        })
    </script>
}