@model Movie

<div class="movie-details">
    <div class="left-column">
        <p><strong>Genre:</strong>@Model.MovieCategory</p>
        @* <p><strong>Running Time:</strong> @Model.</p>*@
        <p><strong>Release Date:</strong> @Model.ReleaseDate</p>
        @* <p><strong>Starring:</strong> Mohammed Tharwat, Ali Rabie, Muhammad Osama</p> *@
        
    </div>
    <div class="right-column">
        <p>
            @Model.Description
        </p>
    </div>
</div>