@model Actor

@{
    ViewData["Title"] = "Add a new actor";
    ViewBag.Hidefooter = true;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a New Actor </title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <div class="page-content">
        <div class="container">
            <h2>Add a New Actor</h2>
            <form>
                <label for="pf">Profile Picture</label>
                <input type="text" id="pf" name="pf">

                <label for="name">Name</label>
                <input type="text" id="name" name="name">

                <label for="Bio">Biography</label>
                <input type="text" id="Bio" name="Bio">

                <div class="buttons">
                    <button type="button" class="back">Back</button>
                    <button type="submit" class="create">Create</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>


@section Scripts {
    <script>

        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ProfilePictureURL").val();
        })

        $("#ProfilePictureURL").on("change", function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $(this).val();
        })
    </script>
}