@model Actor

@{
    ViewData["Title"] = "Details of the actor";
}
<link rel="stylesheet" href="~/css/details.css" />


<div class="page-wrapper">
    <div class="details">
        <h1>Details for @Model.FullName</h1>

        <div class="form-group">
            <img id="ProfilePicturePreview" />
        </div>

        <div class="form-group">
            <label asp-for="ProfilePictureURL"></label>
            <input asp-for="ProfilePictureURL" readonly />
            <span asp-validation-for="ProfilePictureURL"></span>
        </div>

        <div class="form-group">
            <label asp-for="FullName"></label>
            <input asp-for="FullName" readonly />
            <span asp-validation-for="FullName"></span>
        </div>

        <div class="form-group">
            <label asp-for="Bio"></label>
            <input asp-for="Bio" readonly />
            <span asp-validation-for="Bio"></span>
        </div>

        <div class="form-group buttons">
            <a asp-action="Index">back</a>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            }

        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ProfilePictureURL").val();
        })
    </script>
}
