

 @model List<ticketer.Models.TicketOrder>
@{
    ViewData["Title"] = "All orders";
    ViewBag.Hidefooter = true;
}

<!DOCTYPE html>
<html>
<head>
    <title>Order List</title>
    <link rel="stylesheet" href="@Url.Content("~/css/orderList.css")" />
</head>
<body>
    <div class="page-content">
        <div class="container-fluid mt-4">
            <br />
            <br />

            <h2 class="orders-title animate-fade-in">List of all your orders</h2>
           
            <div class="table-wrapper animate-fade-in animate-delay">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Items</th>
                            <th>Total</th>
                            @if (User?.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
                            {
                                <th>User</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>

